<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/bookmygame?createDatabaseIfNotExist=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
       <property name="show_sql">true</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hbm2ddl.auto">update</property>
         
        <!-- Use Annotation-based mapping metadata -->
		<mapping class="com.bookmygame.pojo.Customer"/>
		<mapping class="com.bookmygame.pojo.Announcement"/>
		<mapping class="com.bookmygame.pojo.GameBooking"/>
		<mapping class="com.bookmygame.pojo.Location"/>
		<mapping class="com.bookmygame.pojo.SportCenter"/>
		<mapping class="com.bookmygame.pojo.Sport"/>
		<mapping class="com.bookmygame.pojo.SportsToCenterMapping"/>
        
    </session-factory>
</hibernate-configuration>

















